<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edgedo.sys.mapper.ErpChangeNetRecMapper" >
   
   
    <resultMap id="BaseResultMap" type="com.edgedo.sys.entity.ErpChangeNetRec" >
			<id column="ID" property="id"/>
			<result column="CREATE_TIME" property="createTime"/>
			<result column="CREATE_USER_ID" property="createUserId"/>
			<result column="CREATE_USER_NAME" property="createUserName"/>
			<result column="OWNER_CAR_INFO_ID" property="ownerCarInfoId"/>
			<result column="CAR_PLATE_NUM" property="carPlateNum"/>
			<result column="CAR_FRAME_NUM" property="carFrameNum"/>
			<result column="CAR_PLATE_COLOR" property="carPlateColor"/>
			<result column="CHANGE_NET_TYPE" property="changeNetType"/>
			<result column="CUSTOMER_NAME" property="customerName"/>
			<result column="CONTACT_PHONE" property="contactPhone"/>
			<result column="TERMINAL_ID" property="terminalId"/>
			<result column="TERMINAL_CHANGSHANG" property="terminalChangshang"/>
			<result column="TERMINAL_CODE" property="terminalCode"/>
			<result column="SIM_NUM" property="simNum"/>
			<result column="ORG_PT" property="orgPt"/>
			<result column="SUBMIT_PERSON" property="submitPerson"/>
			<result column="SUBMIT_TIME" property="submitTime"/>
			<result column="PROVINCE_ID" property="provinceId"/>
			<result column="PROVINCE_NAME" property="provinceName"/>
			<result column="CITY_ID" property="cityId"/>
			<result column="CITY_NAME" property="cityName"/>
			<result column="XIANQU_ID" property="xianquId"/>
			<result column="XIANQU_NAME" property="xianquName"/>
			<result column="PLATFORM_ID" property="platformID"/>
			<result column="REFUSE_REASON" property="refuseReason"/>
			<result column="GIVE_INFORMATION" property="giveInformation"/>
			<result column="NOW_PT" property="nowPt"/>
			<result column="LOCATION" property="location"/>
			<result column="REMARK" property="remark"/>
			<result column="DATA_STATE" property="dataState"/>
    </resultMap>
   
    <resultMap id="BaseResultViewMap" type="com.edgedo.sys.queryvo.ErpChangeNetRecView" extends="BaseResultMap">
    
    </resultMap>
  
  
  <!-- ******* 新增字段请修改这里  ******  -->
  <sql id="Base_Column_List">
	 ID, CREATE_TIME, CREATE_USER_ID, CREATE_USER_NAME, OWNER_CAR_INFO_ID, CAR_PLATE_NUM, CAR_FRAME_NUM, CAR_PLATE_COLOR, CHANGE_NET_TYPE, CUSTOMER_NAME, CONTACT_PHONE, TERMINAL_ID, TERMINAL_CHANGSHANG, TERMINAL_CODE, SIM_NUM, ORG_PT, SUBMIT_PERSON, SUBMIT_TIME, PROVINCE_ID, PROVINCE_NAME, CITY_ID, CITY_NAME, XIANQU_ID, XIANQU_NAME, PLATFORM_ID,REFUSE_REASON,GIVE_INFORMATION, NOW_PT, LOCATION, REMARK, DATA_STATE
  </sql>
  
  <!-- ******* 利用好这里的动态查询条件  ******  -->
  <sql id="where">
  	<where>
		DATA_STATE = '1'
				<if test='queryObj != null and  queryObj.createTime != null'>
					AND  CREATE_TIME = #{queryObj.createTime}
				</if>
				<if test='queryObj != null and  queryObj.submitTime != null'>
					AND  SUBMIT_TIME = #{queryObj.submitTime}
				</if>
				<if test='queryObj != null and  queryObj.carPlateNum != null'>
					AND  CAR_PLATE_NUM like '%${queryObj.carPlateNum}%'
				</if>
				<if test='queryObj != null and  queryObj.changeNetType != null'>
					AND  CHANGE_NET_TYPE like '%${queryObj.changeNetType}%'
				</if>
				<if test='queryObj != null and  queryObj.carPlateColor != null'>
					AND  CAR_PLATE_COLOR like '%${queryObj.carPlateColor}%'
				</if>
  	</where>
  </sql>
  
  <!-- ******* 排序判断  ******  
  <sql id="orderBy">
  	<if test="orderBy != null and orderBy!= '' ">
  		order by  ${orderBy}
  	</if>
  </sql>-->
  
  
  <!-- 分页条件查询  -->
  <select id="listPage" parameterType="com.edgedo.sys.queryvo.ErpChangeNetRecQuery" resultMap="BaseResultViewMap">
  		select <include refid="Base_Column_List"/> from erp_change_net_rec
	 	 <include refid="where"/>
  </select>
  
   <!-- 不分页条件查询  -->
  <select id="listByObj" parameterType="com.edgedo.sys.queryvo.ErpChangeNetRecQuery" resultMap="BaseResultViewMap">
  		select <include refid="Base_Column_List"/> from erp_change_net_rec 
  		<include refid="where"/>
  </select>

	<!--逻辑删除-->
	<update id="deleteByDataState" parameterType="java.util.List">
		update erp_change_net_rec set DATA_STATE='0'
		where ID in
		<foreach collection="list" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
		and DATA_STATE='1'
	</update>
  <!--按车牌号查找转网记录-->
	<select id="selectByCarFrameNum" parameterType="String" resultMap="BaseResultViewMap">
		select <include refid="Base_Column_List"/> from erp_change_net_rec
		where CAR_PLATE_NUM = #{carPlateNum}
	</select>

	<!--查找平台ID-->
	<select id="selectByPlatformID" parameterType="String" resultType="com.edgedo.sys.entity.ErpChangeNetRec">
		select <include refid="Base_Column_List"/> from erp_change_net_rec where PLATFORM_ID = #{platformID}
	</select>

	<!--月度统计-查询所有-->
	<select id="selectAll" resultMap="BaseResultViewMap">
		select <include refid="Base_Column_List"/> from erp_change_net_rec
	</select>
	<select id="selectAlls" parameterType="String" resultMap="BaseResultViewMap">
		select <include refid="Base_Column_List"/> from erp_change_net_rec
	</select>

	<!--查询现平台-->
	<select id="selectByNowPt" parameterType="com.edgedo.sys.queryvo.ErpChangeNetCounMonthQuery" resultMap="BaseResultViewMap">
		select DISTINCT NOW_PT from erp_change_net_rec
	</select>

	<delete id="deleteRepeat">
		DELETE
		FROM erp_change_net_rec
		WHERE ID NOT IN(
			SELECT dt.minno
			FROM (
				SELECT MIN(ID) AS minno
				FROM erp_change_net_rec
				GROUP BY PLATFORM_ID
			)dt
		)
	</delete>


  
</mapper>